
.first-container {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    margin-left: 20px;
    color: white;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


a {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.second-container {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.content-column {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 20px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    width: 300px;
    margin-top: 100px;
    margin-left: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bio {
    font-size: 18px;
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.first-signup {
    width: 100px;
    margin-top: 15px;
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    flex: 1;
    margin-left: 20px;
    padding: 20px;
    height: 150px;
    margin-top: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


